body {
	background: rgba(176, 189, 198, 0.46);
	font-family: oswald;
	font-weight: 300;
	color: whitesmoke;
	text-align: center;
	margin: auto;
	padding-top: 20px;
}
input {
	background-color: rgba(211, 212, 201, 0.76);
	width: 50%;
	height: 25px;
	text-align: center;
	margin: auto;
	font-family: oswald;
	color: black;
/*	border-radius: 5px;*/
	padding-left: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	-webkit-box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
	-moz-box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
	box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
}
button {
	width: 50%;
	height:30px;
	margin-top: 20px;
	margin: auto;
	text-align: center;
/*	border-radius: 5px;*/
	font-family: oswald;
	font-size: 12px;
	font-weight:300;
	color: ghostwhite;
	background-color: rgb(230, 73, 73);
	border: 1px outset;
	-webkit-box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
	-moz-box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
	box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
}
h3 {
/*
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
*/
	margin-top: 0;
	padding-bottom: 30px;
	padding-top: 20px;
	border-bottom: 1px inset transparent;
	border-width: 100%;
	height: auto;
	background-color: rgba(119, 153, 148, 0.63);
	font-weight: 300;
	-webkit-box-shadow: 2px 9px 12px -7px rgba(204,194,204,1);
	-moz-box-shadow: 2px 9px 12px -7px rgba(204,194,204,1);
	box-shadow: 2px 9px 12px -7px rgba(204,194,204,1);
}
.box{
	margin-top: 20px;
	padding-top: 0px;
	height: 300px;
	width: 45%;
	background-color: rgba(152, 232, 242, 0.61);
	text-align: center;
	margin: auto;
/*	border-radius: 8px;*/
	border: 1px outset;
	-webkit-box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
	-moz-box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
	box-shadow: 10px 10px 20px -6px rgba(204,194,204,1);
}
